@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");

html {
  overflow-x: hidden;
}

body {
  background-color: #fefefe;
  color: #656565;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  max-width: 100%;
  width: 100vw;
}

#page-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10em 15em 20em 20em;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 5em;
}

nav {
  align-self: start;
  grid-column-end: 4;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
  justify-self: end;
  margin: 1rem;
}

nav a {
  color: #656565;
  padding: 1.5rem;
  text-decoration: none;
}

#hero {
  align-self: start;
  display: grid;
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 2;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  height: 150px;
  justify-self: center;
  min-width: 310px;
  position: relative;
  text-align: center;
}

#hero h1 {
  color: #383838;
  font-size: 46px;
  font-weight: normal;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 2;
  margin: 0 auto 1rem auto;
}

#hero p {
  align-self: end;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 2;
  margin: 0;
}

#top-right {
  align-self: end;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-row-start: 1;
  height: 40px;
  justify-self: start;
  width: 40px;
}

#bottom-left {
  align-self: start;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-start: 3;
  height: 40px;
  justify-self: end;
  width: 40px;
}

#elevator {
  align-self: start;
  grid-column-end: 4;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-row-start: 3;
  justify-self: center;
  padding: 0.65em;
  text-align: center;
}

#elevator p {
  font-size: 18px;
  max-width: 576px;
}

.grecaptcha-badge {
  visibility: hidden;
}

#contact {
  align-self: center;
  display: grid;
  grid-column-end: 4;
  grid-column-start: 1;
  grid-row-start: 4;
  grid-template-columns: 250px 250px;
  grid-template-rows: 50px 35px 240px 30px 4rem;
  justify-self: center;
  justify-self: center;
  margin: 0 auto 2rem;
}

#contact h2 {
  font-weight: normal;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  margin-bottom: 0;
}

#name-field {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 2;
  margin-right: 15px;
}

#email-field {
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 2;
}

#message-field {
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-row-start: 3;
}

#recaptchaBranding {
  font-size: 13px;
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-row-start: 5;
  margin-top: 2rem;
}

#recaptchaBranding a {
  color: #181818;
}

#form-submit {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #cccccc;
  color: #656565;
  cursor: pointer;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-row-start: 4;
  justify-self: start;
  padding: 5px;
}

#success-response {
  align-self: center;
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-row-start: 4;
  justify-self: start;
  padding-left: 70px;
  text-align: center;
}

#success-response p {
  margin: 0;
}

#contact label {
  font-size: 16px;
  left: 5px;
  position: relative;
  top: 25px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  border-radius: 5px;
  border: 1px solid #cccccc;
  color: #383838;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  padding: 5px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #page-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10em 20em 30em 20em;
    max-width: 100%;
    padding: 0 10px;
  }

  nav {
    grid-column-start: 1;
    justify-self: end;
    margin: 1rem 0;
  }

  nav a {
    padding: 0.75rem;
  }

  #hero {
    justify-self: center;
  }

  #contact {
    grid-template-columns: auto;
    grid-template-rows: 80px 60px 60px 240px 30px 4rem;
    max-width: 90%;
  }

  #contact label {
    position: inherit;
  }

  #name-field {
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    margin: 0;
  }

  #email-field {
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
  }

  #message-field {
    grid-row-end: 5;
    grid-row-start: 4;
  }

  #form-submit {
    font-size: 14px;
    grid-row-start: 5;
    padding: 0 15px;
  }

  #success-response {
    grid-row-start: 6;
    padding-left: 90px;
  }

  #recaptchaBranding {
    font-size: 13px;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-start: 7;
  }
}
