{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<section id="contact">
	<h1>Contact Me</h1>
	<form method="post" class="contact-form">
		{% csrf_token %}
		<div id="contact-name">
			<label class="pull-left" for="name">{{ form.name.label }}:</label>
			{{ form.name }}
			<small class="error">{{ form.name.errors }}</small>
		</div>
		<div id="contact-email">
			<label class="pull-left" for="email">{{ form.email.label }}:</label>
			{{ form.email }}
			<small class="error">{{ form.email.errors }}</small>
		</div>
		<div id="contact-subject">
			<label class="pull-left" for="subject">{{ form.subject.label }}:</label>
			{{ form.subject }}
			<small class="error">{{ form.subject.errors }}</small>
		</div>
		<div id="contact-phone">
			<label class="pull-left" for="phone">{{ form.phone.label }}:</label>
			{{ form.phone }}
			<small class="error">{{ form.phone.errors }}</small>
		</div>
		<div id="recaptcha">
			{{ form.recaptcha }}
			<small class="error">{{ form.recaptcha.errors }}</small>
		</div>
		<div id="contact-message">
			<label class="pull-left" for="message">{{ form.message.label }}:</label>
			{{ form.message|attr:'rows:5' }}
			<small class="error">{{ form.message.errors }}</small>
		</div>
		<input class="my-btn" type="submit" value="Submit" />
	</form>
</section>
{% endblock content %}
