{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Software Development | Alex Heist</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/favicon/apple_touch_icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/favicon/favicon_32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/favicon/favicon_16.png' %}">
		<link rel="manifest" href="{% static 'base/favicon/site.webmanifest' %}">

		<link rel="stylesheet" href="{% sass_src 'base/css/home.scss' %}" type="text/css">
	</head>
