cffi==1.12.3
django==2.2.3
django-appconf==1.0.3
django-compressor==2.2
django-recaptcha==2.0.4
django-sass-processor==0.7.3
django-widget-tweaks==1.4.3
gunicorn==19.9.0
libsass==0.18.0
pycparser==2.19
pygit2==0.28.2
pytz==2019.1
rcssmin==1.0.6
rjsmin==1.0.12
six==1.12.0
smmap2==2.0.5
sqlparse==0.3.0
