{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block page-title %}
{{ article.title }} | Alex Heist
{% endblock page-title %}

{% block page-description %}
{{ article.description }}
{% endblock page-description %}

{% block page-styles %}
<link rel="stylesheet" href="{% sass_src 'css/blog.scss' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vs2015.css' %}">
<style>
body {
  grid-template-rows: 40vh 1fr;
}

.heading__subtitle {
    text-align: left;
}

@media (max-width: 992px) {
  .heading__subtitle {
    padding: 20px 0 20px 15%;
  }
}

@media (max-width: 768px) {
  .heading__subtitle {
    padding: 20px 10%;
    width: calc(95% - 20%)
  }
}

@media (max-width: 576px) {
  .heading__subtitle {
    padding: 20px 0 20px 2%;
    width: calc(100% - 2% - 5px);
  }
}
</style>
{% endblock page-styles %}

{% block content %}
<section class="heading heading--light">
    <h1 class="heading__subtitle">{{ article.title }}</h1>
</section>

<section class="article">
    {{ article.formatted_markdown|safe }}
</section>


<section class="comments">
  <svg class="bezier-border" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#eee" fill-opacity="1" d="M0,96L34.3,80C68.6,64,137,32,206,42.7C274.3,53,343,107,411,117.3C480,128,549,96,617,106.7C685.7,117,754,171,823,192C891.4,213,960,203,1029,170.7C1097.1,139,1166,85,1234,58.7C1302.9,32,1371,32,1406,32L1440,32L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>
  <div class="comments__wrapper">
    <h2 class="comments__title">Comments</h2>
    <p class="comments__subtitle">If you found this article to be helpful or have any questions, please leave a comment below.</p>
    <div class="comment-list">
      {% include "partials/comment.html" %}
    </div>
    <form class="comments__form" method="post">
        <div id="name" class="form__field">
            <label id="name-label" for="name">Name</label>
            <input type="text" name="name" onfocus="handleFocus(this.name);" onblur="handleBlur(this.name);" onchange="handleChange(this);" />
        </div>
        <div id="message" class="form__field form__field--textarea">
            <label id="message-label" for="message">Message</label>
            <textarea name="message" onfocus="handleFocus(this.name);" onblur="handleBlur(this.name);" onchange="handleChange(this);"></textarea>
        </div>
        {% csrf_token %}
        <input id="recaptcha" type="hidden" name="g-recaptcha-response" />
        <span class="response"></span>
        <input class="btn" type="submit" value="Submit" />
    </form>
    <p class="recaptcha-text"><small>
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </small></p>
  </div>
</section>
{% endblock content %}

{% block page-scripts %}
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/formfields.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_key }}"></script>
<script>
hljs.initHighlightingOnLoad();

window.onload = () => {
  setTimeout(function() {
    $.ajax({
      type: "GET",
      url: "{{ request.path }}"
    });
  }, 5000);
};

function populateResponse(success, message) {
    textWrapper = $('.response')[0]
    textWrapper.setAttribute("class", "response");
    textWrapper.innerText = message;
    if (!success) {
        textWrapper.classList.add("response--error");
    }
}

function clearForm() {
    $(".comments__form")[0].reset()
    $("#name")[0].classList.remove("form__field--active");
    $("#message")[0].classList.remove("form__field--active");
}

grecaptcha.ready(function() {
  $(".comments__form").on("submit", function(event) {
    event.preventDefault();
    grecaptcha.execute('{{ recaptcha_key }}', {action: 'contactForm'}).then(function(token) {
      values.recaptcha = token
      $.ajax({
        type: "POST",
        url: "{{ request.path }}",
        data: values,
        success: function(response) {
            populateResponse(true, "Thank you");
            $('.comment-list').html('').load("{% url 'comment_partial' article.slug %}");
            clearForm();
        },
        error: function(response) {
            populateResponse(false, "An error occurred");
        }
      });
    });
  });
});
</script>
{% endblock page-scripts %}