{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block page-title %}
{{ article.title }} | Alex Heist
{% endblock page-title %}

{% block page-description %}
{{ article.description }}
{% endblock page-description %}

{% block metadata %}
  <meta name="title" property="og:title" content="{{ article.title }}" />
  <meta property="og:type" content="article" />
  {% if article.image %}
    <meta name="image" property="og:image" content="https://{{ request.get_host }}{{ article.image.url }}" />
  {% endif %}
  <meta name="description" property="og:description" content="{{ article.description }}" />
  <meta name="author" content="Alex Heist" />
{% endblock metadata %}

{% block page-styles %}
<link rel="stylesheet" href="{% sass_src 'css/blog.scss' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vs2015.css' %}">
{% endblock page-styles %}

{% block content %}
<section class="heading">
  <img class="heading__brand" src="{% static 'img/brand.svg' %}" alt="Alex Heist - Software Developer" />
  <h1 class="heading__copy"><em>{{ article.title }}</em></h1>
  <section class="links">
    <a class="link" href="/">HOME</a>
    <a class="link" href="/blog">BLOG</a>
    <a class="link" href="/#projects">MY WORK</a>
    <a class="link" href="/#contact">CONTACT</a>
  </section>
  <div class="social">
    <a class="social__github" href="https://github.com/alexheist" target="_blank" rel="nofollow noopener">
      <img src="{% static 'img/github.svg' %}" alt="GitHub Logo" />
    </a>
    <a class="social__linkedin" href="https://linkedin.com/in/alexander-heist" target="_blank" rel="nofollow noopener">
      <img src="{% static 'img/linkedin.svg' %}" alt="LinkedIn Logo" />
    </a>
  </div>
</section>

<section class="article">
    {{ article.formatted_markdown|safe }}
</section>

<!--
<section class="comments">
  <div class="comments__wrapper">
    <h2 class="comments__title">Comments</h2>
    <p class="comments__subtitle">If you found this article to be helpful or have any questions, please leave a comment below.</p>
    <div class="comment-list">
      {% include "partials/comment.html" %}
    </div>
    <form class="comments__form" method="post">
        <div id="name" class="form__field">
            <label id="name-label" for="name">Name</label>
            <input type="text" name="name" onfocus="handleFocus(this.name);" onblur="handleBlur(this.name);" onchange="handleChange(this);" />
        </div>
        <div id="message" class="form__field form__field--textarea">
            <label id="message-label" for="message">Message</label>
            <textarea name="message" onfocus="handleFocus(this.name);" onblur="handleBlur(this.name);" onchange="handleChange(this);"></textarea>
        </div>
        {% csrf_token %}
        <input id="recaptcha" type="hidden" name="g-recaptcha-response" />
        <span class="response"></span>
        <input class="btn" type="submit" value="Submit" />
    </form>
    <p class="recaptcha-text"><small>
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </small></p>
  </div>
</section>
-->
{% endblock content %}

{% block page-scripts %}
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/formfields.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_key }}"></script>
<script>
hljs.initHighlightingOnLoad();

window.onload = () => {
  setTimeout(function() {
    $.ajax({
      type: "GET",
      url: "{{ request.path }}"
    });
  }, 5000);
};

function populateResponse(success, message) {
    textWrapper = $('.response')[0]
    textWrapper.setAttribute("class", "response");
    textWrapper.innerText = message;
    if (!success) {
        textWrapper.classList.add("response--error");
    }
}

function clearForm() {
    $(".comments__form")[0].reset()
    $("#name")[0].classList.remove("form__field--active");
    $("#message")[0].classList.remove("form__field--active");
}

grecaptcha.ready(function() {
  $(".comments__form").on("submit", function(event) {
    event.preventDefault();
    grecaptcha.execute('{{ recaptcha_key }}', {action: 'contactForm'}).then(function(token) {
      values.recaptcha = token
      $.ajax({
        type: "POST",
        url: "{{ request.path }}",
        data: values,
        success: function(response) {
            populateResponse(true, "Thank you");
            $('.comment-list').html('').load("{% url 'comment_partial' article.slug %}");
            clearForm();
        },
        error: function(response) {
            populateResponse(false, "An error occurred");
        }
      });
    });
  });
});
</script>
{% endblock page-scripts %}