{% extends 'base.html' %}
{% load sass_tags %}

{% block page-title %}
Blog | Alex Heist
{% endblock page-title %}

{% block page-description %}
Tutorials. Tips & Tricks. Etc.
{% endblock page-description %}

{% block page-styles %}
<link rel="stylesheet" href="{% sass_src 'css/blog.scss' %}" type="text/css">
{% endblock page-styles %}

{% block content %}
<section class="heading heading--light">
    <h1 class="heading__title">Blog</h1>
    <h2 class="heading__subtitle">Tutorials. Tips & Tricks. Etc.</h2>
</section>

<svg class="bezier-border--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#eee" fill-opacity="1" d="M0,96L34.3,80C68.6,64,137,32,206,42.7C274.3,53,343,107,411,117.3C480,128,549,96,617,106.7C685.7,117,754,171,823,192C891.4,213,960,203,1029,170.7C1097.1,139,1166,85,1234,58.7C1302.9,32,1371,32,1406,32L1440,32L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

<section class="articles">
    {% for article in articles %}
        <a href="{{ article.slug }}" class="articles__card">
            <div class="blog-preview__wrapper">
                <h4 class="blog-preview__title">{{ article.title }}</h4>
                <p class="blog-preview__date">{{ article.published }}</p>
            </div>
        </a>
    {% endfor %}
</section>
{% endblock content %}