body {
  background-color: #eee;
  grid-template-columns: 100%;
  grid-template-rows: 60vh 1fr;
}

.heading {
  background-color: #eee;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  grid-row: 1 / 2;
  justify-content: center;
  text-align: left;

  &__title {
    border-left: 5px solid #fe8b8b;
    color: #eee;
    font-size: 10em;
    font-weight: 700;
    margin: 0;
    padding: 0 0 0 100px;
    text-shadow: -4px -4px 10px #ffffff, 4px 4px 4px rgba(0, 0, 0, 0.2);
    width: calc(100% - 105px);
  }

  &__subtitle {
    border-left: 5px solid #fe8b8b;
    color: rgba(219, 219, 219, 0.6);
    font-size: 3.5em;
    font-weight: 700;
    margin: 0;
    padding: 20px 0 20px 10%;
    text-shadow: 2px 2px 2px #fff, -1px -1px 0 rgba(0, 0, 0, 0.2),
      2px 2px 2px #fff;
    width: 60%;
  }
}

.articles {
  align-items: flex-start;
  border-right: 5px solid transparent;
  -webkit-box-align: start;
  -webkit-box-align: flex-start;
  -webkit-box-pack: center;
  color: #282828;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 100px 0;
  position: relative;

  &__card {
    align-items: center;
    border-radius: 25px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    box-shadow: -4px -4px 10px #ffffff, 4px 4px 4px rgba(0, 0, 0, 0.2);
    color: #282828;
    display: -webkit-box;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 20px;
    min-width: 400px;
    padding: 10px;
    text-decoration: none;
    width: 40%;

    .blog-preview__wrapper {
      border: 2px solid #d4d3ff;
      border-radius: 25px;
      height: 98%;
      position: relative;
      width: 98%;

      &:hover {
        border: 2px solid #f5db56;
      }
    }

    .blog-preview__title {
      font-size: 2em;
      font-weight: normal;
      left: 20px;
      margin: 0;
      max-width: 300px;
      position: absolute;
      top: 20px;
      width: calc(100% - 40px);
    }

    .blog-preview__date {
      bottom: 20px;
      font-size: 0.9em;
      font-weight: 300;
      margin: 0;
      position: absolute;
      right: 20px;
    }
  }
}

.article {
  color: #555;
  font-size: 20px;
  line-height: 1.5em;
  margin: 0 auto 50px;
  max-width: 960px;
  width: 60%;
}

pre {
  overflow-x: scroll !important;
  word-wrap: normal;
}

code {
  border-radius: 10px;
  font-family: "Cousine", monospace;
  line-height: 1.2em;
}

pre code {
  font-size: 16px;
  overflow-x: scroll !important;
  padding: 20px !important;
}

p code {
  color: #569cd6;
  display: inline !important;
  font-size: 20px;
  padding: 2px;
  word-break: break-all;
}

blockquote {
  border-left: 5px solid #fe8b8b;
  font-size: 16px;
  line-height: 1.3em;
  margin: 0;
  padding: 10px 20px;
}

blockquote code {
  font-size: 16px;
}

a {
  color: #444;
}

.comments {
  background-color: #282828;

  .bezier-border {
    min-width: 100vw;
    position: relative;
    top: -5px;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 960px;
  }

  &__title {
    color: #eee;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
  }

  &__subtitle {
    color: #ccc;
    font-size: 20px;
    font-weight: 300;
    margin: 20px auto 80px;
    max-width: 435px;
    text-align: center;
    width: 50%;
  }

  .comment-list {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
  }

  .comment {
    border-left: 5px solid #d4d3ff;
    border-radius: 15px;
    color: #eee;
    justify-self: center;
    margin: 20px 0 50px 0;
    padding: 15px;
    width: 60%;

    &--response {
      border-left: none;
      border-right: 5px solid #feeb8b;
      margin: -40px 0 50px 100px;
      width: calc(60% - 100px);

      .comment__name {
        margin-bottom: 15px;
      }

      .comment__message {
        margin: 0;
      }
    }

    &__name {
      font-size: 24px;
      font-weight: normal;
      margin: 0;
    }

    &__timestamp {
      color: #ccc;
      font-size: 12px;
      font-weight: 300;
      margin: 5px 25px;
    }

    &__message {
      border-top: 1px solid #444;
      font-size: 18px;
      margin: 0 25px;
      padding: 25px 0;
    }
  }

  &__form {
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1.25fr 0.5fr;
    height: 300px;
    margin: 50px auto;
    max-width: 720px;
    padding: 20px;
    width: 80%;

    #name {
      align-self: center;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      margin: 10px 0;
    }

    #message {
      align-self: start;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      height: 100%;

      textarea {
        height: 100%;
        resize: none;
      }
    }

    .form__field {
      padding: 0;
      position: relative;

      input[type="text"],
      input[type="email"],
      textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #282828;
        border: none;
        border-radius: 15px;
        box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.4),
          inset -2px -2px 10px rgba(255, 255, 255, 0.1);
        color: #eee;
        font-size: 15px;
        outline: 0;
        padding: 15px 20px;
        width: calc(100% - 40px);
      }

      label {
        color: #999;
        font-size: 16px;
        position: absolute;
        -webkit-transform: translate(20px, 16px) scale(1);
        transform: translate(20px, 16px) scale(1);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }

      &--active label {
        -webkit-transform: translate(10px, -15px) scale(0.75);
        transform: translate(10px, -15px) scale(0.75);
      }

      .error {
        color: #fe8b8b;
      }
    }

    input[type="submit"] {
      align-self: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: #282828;
      border: none;
      border: 2px solid #fe8b8b;
      border-radius: 10px;
      color: #fe8b8b;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 300;
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      justify-self: end;
      opacity: 1;
      padding: 5px 10px;
      width: 100px;
    }

    .response {
      align-self: center;
      color: #999;
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      justify-self: start;
      padding-left: 10px;

      &--error {
        color: #fe8b8b;
      }
    }
  }
}

@media (max-width: 992px) {
  .heading__subtitle {
    width: 70%;
  }

  .nav {
    bottom: 0;
    font-size: 0.8em;
    top: unset;
  }

  .article {
    width: 70%;
  }

  .articles {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .heading {
    text-align: center;

    &__title {
      padding: 0;
      width: calc(100% - 5px);
    }

    &__subtitle {
      padding: 0;
      width: calc(100% - 5px);
    }
  }

  .article {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .heading__subtitle {
    font-size: 2.8em;
    width: 98%;
  }

  .nav {
    background-color: #282828;
    -webkit-box-pack: space-evenly;
    height: 50px;
    justify-content: space-evenly;
    right: 0;
    -webkit-text-orientation: unset;
    text-orientation: unset;
    width: 100%;
    -webkit-writing-mode: unset;
    -ms-writing-mode: unset;
    writing-mode: unset;

    &__link {
      border-bottom: 5px solid transparent;
      border-right: none;

      &:hover {
        border-bottom: 5px solid #fe8b8b;
        border-right: none;
      }
    }
  }

  .article {
    font-size: 18px;
    width: 98%;
  }

  pre code {
    font-size: 14px;
  }

  p code {
    font-size: 18px;
  }

  .articles {
    &__card {
      height: 150px;
      margin: 20px 10px;
      min-width: 300px;
      width: 80%;

      .blog-preview__title {
        font-size: 1.4em;
      }

      .blog-preview__date {
        font-size: 0.7em;
      }
    }
  }

  .comments {
    .comment {
      width: 80%;

      &--response {
        margin-left: 25px;
        width: calc(80% - 50px);
      }
    }
  }
}

@media (max-width: 454px) {
  .heading {
    &__title {
      font-size: 8em;
    }

    &__subtitle {
      font-size: 2.5em;
    }
  }

  .articles__card {
    width: 100%;
  }

  .article {
    font-size: 18px;
    width: 98%;
  }
}
