@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

body {
    background-color: #fefefe;
    font-family: 'Montserrat', sans-serif;
	color: #656565;
	max-width: 100vw;
}

#page-content {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: .5fr 2fr 2fr 2fr;
	max-width: 1024px;
	margin: 0 auto;
}

nav {
	grid-column-start: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: start;
	align-self: start;
	margin: 1rem;
}

nav a {
	padding: 1.5rem;
	text-decoration: none;
	color: #656565;
}

#hero {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: start;
	align-self: start;
	text-align: center;
	position: relative;
	height: 150px;
	min-width: 340px;

	display: grid;
    grid-template-columns: .5fr 3fr .5fr;
    grid-template-rows: .5fr 1fr .5fr;
}

#hero h1 {
    grid-column-start: 2;
    grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
    font-size: 48px;
	font-weight: normal;
	margin: 0 auto 1rem auto;
	color: #383838;
}

#hero p {
    grid-column-start: 2;
    grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: end;
	margin: 0;
}

#top-right {
    grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: start;
	align-self: end;
	height: 40px;
	width: 40px;
}

#bottom-left {
    grid-column-start: 1;
    grid-column-end: 2;
	grid-row-start: 3;
	justify-self: end;
	align-self: start;
	height: 40px;
	width: 40px;
}

#elevator {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: start;
	align-self: center;
}

#contact {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
	justify-self: center;
	align-self: center;
}
