@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

body {
    background-color: #fefefe;
    font-family: 'Montserrat', sans-serif;
}

#page-content {
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 5;
}
