{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<section id="contact">
	<form method="post" class="contact-form">
		<h1>Contact Me</h1>
		{% csrf_token %}
		<div id="contact-name">
			<label class="pull-left" for="name">{{ form.name.label }}:</label>
			{{ form.name }}
			<small class="error">{{ form.name.errors }}</small>
		</div>
		<div id="contact-email">
			<label class="pull-left" for="email">{{ form.email.label }}:</label>
			{{ form.email }}
			<small class="error">{{ form.email.errors }}</small>
		</div>
		<div id="contact-subject">
			<label class="pull-left" for="subject">{{ form.subject.label }}:</label>
			{{ form.subject }}
			<small class="error">{{ form.subject.errors }}</small>
		</div>
		<div id="contact-phone">
			<label class="pull-left" for="phone">{{ form.phone.label }}:</label>
			{{ form.phone }}
			<small class="error">{{ form.phone.errors }}</small>
		</div>
		<div id="contact-message">
			<label class="pull-left" for="message">{{ form.message.label }}:</label>
			{{ form.message|attr:'rows:5' }}
			<small class="error">{{ form.message.errors }}</small>
		</div>
		<!-- TODO: Style recaptcha -->
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<div class="g-recaptcha" data-sitekey="6LfKwKIUAAAAAIU_4MCr7z8kO1nxGRIWj_3_OfGD"></div>
		<input class="my-btn" type="submit" value="Submit" />
	</form>
</section>
{% endblock content %}
