#blog-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10em 15em;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 5em;
}

#article-list {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    justify-self: center;
    align-self: center;
    text-align: center;
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
}

.article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 160px;
    max-width: 900px;
    margin: 1rem;
    text-align: left;
    padding: 10px;
    background-color: #fefefe;
    color: #656565;
    text-decoration: none;
    transition: all .15s ease-in-out;

    filter: drop-shadow(5px 10px 10px #888888);
    -webkit-filter: drop-shadow(5px 10px 10px #888888);
    -moz-filter: drop-shadow(5px 10px 10px #888888);
}

.article:hover {
    transform: scale(1.05);
}

.article h2 {
    grid-row-start: 1;
    grid-column-start: 2;
    align-self: center;
    justify-self: start;
    margin-left: 2rem;

    font-weight: 300;
    font-size: 1.8em;
}

.article img {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.article small {
    grid-row-start: 1;
    grid-column-start: 2;
    align-self: end;
    justify-self: start;
    margin-left: 2.5rem;
}

.article p {
    grid-row-start: 1;
    grid-column-start: 2;
    align-self: end;
    justify-self: end;
    font-size: 1.75em;
    margin: 0;
}

#showMoreBtn {
    margin: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #blog-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10em 15em;
        max-width: 100%;
        padding: 0 10px;
    }

    .article {
        height: 120px;
    }

    .article h2 {
        font-size: 1.5em
    }
}
