{% extends 'base.html' %}

{% block content %}
<section class="heading heading--light">
    <h1 class="heading__title">Alex Heist</h1>
    <h2 class="heading__subtitle">Software Developer</h2>
</section>

<section class="blog-preview">
    <div class="blog-preview__title">
    </div>
    <div class="blog-preview__card">
        <h1>Sample Title</h1>
        <p>01.01.20</p>
    </div>
    <p>Most Popular</p>
    <div class="blog-preview__card">
        <h1>Sample Second Article Title</h1>
        <p>01.01.20</p>
    </div>
    <p>Most Recent</p>
    <a href="/blog" class="btn--dark">Read More</a>
</section>

<section class="about">
    <h3 class="about__title">About Me</h3>
    <ul class="about__links">
        <li><a href="https://linkedin.com/alexheist">LinkedIn</a></li>
        <li><a href="https://github.com/alexheist">GitHub</a></li>
        <li><a href="#">CV</a></li>
    </ul>
    <p class="about__text">
    I am a full-stack software developer with experience in a multitude of
    technologies and roles, from wireframing and design to production
    configuration and deployment. I am quick to learn new skills, which
    has been crucial to my success in a small software company with
    limited resources. 
    </p>
</section>

<section class="contact">
    <h3 class="contact__title">Contact</h3>
    <form class="contact__form" method="post">
        <div class="form__field">
            <label id="name-label" for="name">Name</label>
            <input type="text" name="name" value="" onChange="" onFocus="" onBlur="" />
        </div>
        <div class="form__field">
            <label id="email-label" for="email">Email</label>
            <input type="email" name="email" value="" onChange="" onFocus="" onBlur="" />
        </div>
        <div class="form__field">
            <label id="message-label" for="message">Message</label>
            <input type="message" name="message" value="" onChange="" onFocus="" onBlur="" />
        </div>
        <input class="btn" type="submit" value="Submit" />
    </form>
</section>
{% endblock content %}