{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block page-title %} Alex Heist | Software Developer {% endblock page-title %}

{% block page-description %}
Alex Heist is a full-stack software developer with experience designing and developing engaging products for small businesses and startups.
{% endblock page-description %}

{% block page-styles %}
  <link rel="stylesheet" href="{% sass_src 'css/main.scss' %}" type="text/css" />
{% endblock page-styles %}

{% block content %}
<section class="heading">
  <img class="heading__brand" src="{% static 'img/brand.svg' %}" alt="Alex Heist - Software Developer" />
  <h1 class="heading__copy">Ensuring your project's success through smart <em>design</em> and <em>development</em></h1>
  <div class="heading__links">
    <a class="heading__link" href="#projects">MY WORK</a>
    <a class="heading__link" href="#contact">CONTACT</a>
  </div>
  <div class="social">
    <a class="social__github" href="https://github.com/alexheist" target="_blank" rel="nofollow noopener">
      <img src="{% static 'img/github.svg' %}" alt="GitHub Logo" />
    </a>
    <a class="social__linkedin" href="https://linkedin.com/in/alexander-heist" target="_blank" rel="nofollow noopener">
      <img src="{% static 'img/linkedin.svg' %}" alt="LinkedIn Logo" />
    </a>
  </div>
</section>
<section class="about">
  <h3 class="about__header">About Me</h3>
  <p class="about__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <img class="about__image" src="{% static 'img/headshot.jpg' %}" alt="Headshot" />
</section>
<section class="tap">
  <img class="tap__logo" src="{% static 'img/tap.png' %}" alt="Total Asset Protection Logo" />
  <img class="tap__display" src="{% static 'img/tap-display.png' %}" alt="Total Asset Protection Phone Preview" />
  <p class="tap__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore
  </p>
  <ul class="tech tech--tap">
    <li class="tech__item">Flutter</li>
    <li class="tech__item">Django</li>
    <li class="tech__item">Docker</li>
  </ul>
  <div class="testimonial">
    <span class="testimonial__quote--left">&ldquo;</span>
    <span class="testimonial__quote--right">&rdquo;</span>
    <p class="testimonial__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p class="testimonial__credit">– Chad English, CTO</p>
  </div>
</section>
<section class="ap">
  <img class="ap__logo" src="{% static 'img/ap.png' %}" alt="Advisorpedia Logo" />
  <img class="ap__display" src="{% static 'img/ap-display.png' %}" alt="Advisorpedia Laptop Preview" />
  <p class="ap__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore
  </p>
  <ul class="tech tech--ap">
    <li class="tech__item">Django</li>
    <li class="tech__item">Javascript</li>
    <li class="tech__item">HTML</li>
    <li class="tech__item">CSS</li>
  </ul>
  <div class="testimonial">
    <span class="testimonial__quote--left">&ldquo;</span>
    <span class="testimonial__quote--right">&rdquo;</span>
    <p class="testimonial__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p class="testimonial__credit">– Chad English, CTO</p>
  </div>
</section>
<section class="sw">
  <img class="sw__display" src="{% static 'img/sw-display.png' %}" alt="Sick Wish Band Photo" />
  <h3 class="sw__title">Sick Wish</h3>
  <p class="sw__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore
  </p>
  <ul class="tech tech--sw">
    <li class="tech__item">Django</li>
    <li class="tech__item">HTML</li>
    <li class="tech__item">CSS</li>
    <li class="tech__item">Docker</li>
  </ul>
</section>
<section id="contact" class="contact">
  <img class="contact__image" src="{% static 'img/contact.jpg' %}" alt="Software Developer Desk" />
  <h3 class="contact__title">Contact Me</h3>
  <form class="contact__form" method="post">
    <div id="name" class="form__field">
      <label id="name-label" for="name">Name</label>
      <input type="text" name="name" onfocus="handleFocus(this.name);" onblur="handleBlur(this.name);" onchange="handleChange(this);" />
    </div>
    <div id="email" class="form__field">
      <label id="email-label" for="email">Email</label>
      <input type="email" name="email" onfocus="handleFocus(this.name);" onblur="handleBlur(this.name);" onchange="handleChange(this);" />
    </div>
    <div id="message" class="form__field form__field--textarea">
      <label id="message-label" for="message">Message</label>
      <textarea name="message" onfocus="handleFocus(this.name);" onblur="handleBlur(this.name);" onchange="handleChange(this);"></textarea>
    </div>
    {% csrf_token %}
    <span class="response"></span>
    <input class="btn" type="submit" value="Submit" />
  </form>
</section>
{% endblock content %} {% block page-scripts %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/formfields.js' %}"></script>

<script>
  function populateResponse(success, message) {
    textWrapper = $(".response")[0];
    textWrapper.setAttribute("class", "response");
    textWrapper.innerText = message;
    if (!success) {
      textWrapper.classList.add("response--error");
    }
  }

  function clearForm() {
    $(".contact__form")[0].reset();
    $("#name")[0].classList.remove("form__field--active");
    $("#email")[0].classList.remove("form__field--active");
    $("#message")[0].classList.remove("form__field--active");
  }

  $(".contact__form").on("submit", function (event) {
    event.preventDefault();
    console.log("form submitted!"); // sanity check
    $.ajax({
      type: "POST",
      url: "{{ request.path }}",
      data: values,
      success: function (response) {
        populateResponse(true, "Thank you");
        clearForm();
      },
      error: function (response) {
        populateResponse(false, "An error occurred");
      },
    });
  });
</script>
{% endblock page-scripts %}
