{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block page-title %} Alex Heist | Software Developer {% endblock page-title %}

{% block page-description %}
Alex Heist is a full-stack software developer with experience designing and developing engaging products for small businesses and startups.
{% endblock page-description %}

{% block page-styles %}
  <link rel="stylesheet" href="{% sass_src 'css/main.scss' %}" type="text/css" />
{% endblock page-styles %}

{% block content %}
<section class="heading">
  <img class="heading__brand" src="{% static 'img/brand.svg' %}" alt="Alex Heist - Software Developer" />
  <h1 class="heading__copy">Ensuring your project's success through smart <em>design</em> and <em>development</em></h1>
  <div class="heading__links">
    <a class="heading__link" href="#projects">MY WORK</a>
    <a class="heading__link" href="/blog">BLOG</a>
    <a class="heading__link" href="#contact">CONTACT</a>
  </div>
  <div class="social">
    <a class="social__github" href="https://github.com/alexheist" target="_blank" rel="nofollow noopener">
      <img src="{% static 'img/github.svg' %}" alt="GitHub Logo" />
    </a>
    <a class="social__linkedin" href="https://linkedin.com/in/alexander-heist" target="_blank" rel="nofollow noopener">
      <img src="{% static 'img/linkedin.svg' %}" alt="LinkedIn Logo" />
    </a>
  </div>
</section>
<section class="about">
  <h3 class="about__header">ABOUT<br>ME</h3>
  <div class="about__content">
    <img class="about__image" src="{% static 'img/headshot.jpg' %}" alt="Headshot" />
    <p class="about__text">
    I’m a full-stack developer that has worked with a diverse range of clients to
    bring their ideas to life. I specialize in building web applications with Django,
    but have had extensive experience building mobile applications with Flutter as
    well.
    <br><br>
    Having worked in a lean startup environment for the past few years, I have
    experience with the entire development lifecycle: from wireframing and design to
    development, testing, and server configuration. I’m eager to learn and challenge
    myself to ensure that you get the product you deserve.
    </p>
  </div>
</section>
<section class="tap" id="projects">
  <img class="tap__logo" src="{% static 'img/tap.png' %}" alt="Total Asset Protection Logo" />
  <div class="tap__content">
    <picture>
      <img class="tap__display" src="{% static 'img/tap-display.png' %}" alt="Total Asset Protection Phone Preview" />
    </picture>
    <div>
      <p class="tap__text">
        Total Asset Protection is a mobile application that can help you document and
        catalog the items in your home. TAP's main goal is to provide homeowners with
        a simple means of ethically maximizing their next insurance claim
        <br><br>
        Having never worked on a mobile application, I've learned a lot from this
        project. Built with Flutter on the frontend with a Django REST API on the
        backend, this project has the potential to scale to a very sizable user base.
      </p>
      <div class="supplemental tap__supp">
        <ul class="tech tech--tap">
          <li class="tech__item">Flutter</li>
          <li class="tech__item">Django</li>
          <li class="tech__item">Docker</li>
        </ul>
        <div class="supplemental__links">
          <a href="https://totalassetprotection.net/" target="_blank">VISIT SITE</a>
          <a href="https://apps.apple.com/us/app/total-asset-protection/id1497338936#?platform=iphone" target="_blank" rel="nofollow noopener">APP STORE</a>
          <a href="https://play.google.com/store/apps/details?id=net.totalassetprotection.app&hl=en_US&fbclid=IwAR2fR3HNC0ky8fzYyMmX8sU6gs-scmkxAGzCrjOgkZkSqqxc-6mYpSnBZ1M" target="_blank" rel="nofollow noopener">GOOGLE PLAY</a>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial">
    <span class="testimonial__quote testimonial__quote--left">&ldquo;</span>
    <span class="testimonial__quote testimonial__quote--right">&rdquo;</span>
    <p class="testimonial__text">
      Professional, exceptionally organized, incredibly detailed, deeply intelligent.
      These would be just a few of the attributes that Alex Heist has and
      demonstrates as he works through the different IT issues for us. I cannot say
      enough about his ability to see your vision from concept to completion and his
      care to bring that to market. I would highly recommend Alex for any project
      where you need help with your IT, coding, or any other program issues and know
      that you would be in great hands.
      <br><br>
    </p>
    <p class="testimonial__credit">– Mike Cecsarini, Vice President, Total Asset Protection</p>
  </div>
</section>
<section class="ap">
  <picture>
    <img class="ap__logo" src="{% static 'img/ap.png' %}" alt="Advisorpedia Logo" />
  </picture>
  <img class="ap__display" src="{% static 'img/ap-display.png' %}" alt="Advisorpedia Laptop Preview" />
  <p class="ap__text">
    With over 24,000 published articles, Advisorpedia is a leading force in providing
    financial advisors with valuable content.
    <br><br>
    In my time working with Advisorpedia, I've helped grow search traffic by 46.5%
    over a three month period with improvements to the site's SEO. I've also implemented
    numerous new features, a site redesign, rebranding, and move to a new domain that
    successfully maintained search rankings and better positioned the company to engage
    in valuable partnerships.
  </p>
  <div class="supplemental ap__supp">
    <ul class="tech tech--ap">
      <li class="tech__item">Django</li>
      <li class="tech__item">Javascript</li>
      <li class="tech__item">HTML</li>
      <li class="tech__item">CSS</li>
    </ul>
    <div class="supplemental__links">
      <a href="https://www.advisorpedia.com/" target="_blank">VISIT SITE</a>
    </div>
  </div>
  <div class="testimonial">
    <span class="testimonial__quote testimonial__quote--left">&ldquo;</span>
    <span class="testimonial__quote testimonial__quote--right">&rdquo;</span>
    <p class="testimonial__text">
      Alex has been our key day-to-day developer for the past two years on
      Advisorpedia.com. We haven’t found anything that he can’t handle from a
      development perspective. If he doesn’t have any answer immediately, he will find
      out. We also very much appreciate his calm demeanor, professionalism and, most of
      all, deadlines met. He consistently exceeds our expectations.
      <br><br>
    </p>
    <p class="testimonial__credit">– Douglas Heikkinen, Co-Founder, Advisorpedia</p>
  </div>
</section>
<section class="sw">
  <img class="sw__display" src="{% static 'img/sw-display.jpg' %}" alt="Sick Wish Band Photo" />
  <h3 class="sw__title">SICK WISH</h3>
  <p class="sw__text">
    A passion project of mine, I worked with my friends and local band, Sick Wish, to
    create a website that matched their needs and brand aesthetic.
    <br><br>
    Built with Django, the site takes advantage of the simple admin interface to
    allow Sick Wish to post updates and information about their current projects,
    tour dates, and artistic musings.
  </p>
  <div class="supplemental sw__supp">
    <ul class="tech tech--sw">
      <li class="tech__item">Django</li>
      <li class="tech__item">HTML</li>
      <li class="tech__item">CSS</li>
      <li class="tech__item">Docker</li>
    </ul>
    <div class="supplemental__links">
      <a href="https://sickwish.com/" target="_blank">VISIT SITE</a>
      <a href="https://github.com/alexheist/sickwish" target="_blank" rel="nofollow noopener">VIEW CODE</a>
    </div>
  </div>
</section>
<section id="contact" class="contact">
  <img class="contact__image" src="{% static 'img/contact.jpg' %}" alt="Software Developer Desk" />
  <form class="contact__form" method="post">
    {% csrf_token %}
    <h3 class="contact__title">CONTACT ME</h3>
    <div id="name" class="form__field">
      <label id="name-label" for="name">Name</label>
      <input type="text" name="name" onfocus="handleFocus(this.name);" onblur="handleBlur(this.name);" onchange="handleChange(this);" />
    </div>
    <div id="email" class="form__field">
      <label id="email-label" for="email">Email</label>
      <input type="email" name="email" onfocus="handleFocus(this.name);" onblur="handleBlur(this.name);" onchange="handleChange(this);" />
    </div>
    <div id="message" class="form__field form__field--textarea">
      <label id="message-label" for="message">Message</label>
      <textarea name="message" onfocus="handleFocus(this.name);" onblur="handleBlur(this.name);" onchange="handleChange(this);"></textarea>
    </div>
    <span class="response"></span>
    <input class="btn" type="submit" value="Submit" />
  </form>
</section>
{% endblock content %}

{% block page-scripts %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/formfields.js' %}"></script>

<script>
  function populateResponse(success, message) {
    textWrapper = $(".response")[0];
    textWrapper.setAttribute("class", "response");
    textWrapper.innerText = message;
    if (!success) {
      textWrapper.classList.add("response--error");
    }
  }

  function clearForm() {
    $(".contact__form")[0].reset();
    $("#name")[0].classList.remove("form__field--active");
    $("#email")[0].classList.remove("form__field--active");
    $("#message")[0].classList.remove("form__field--active");
  }

  $(".contact__form").on("submit", function (event) {
    event.preventDefault();
    console.log("form submitted!"); // sanity check
    $.ajax({
      type: "POST",
      url: "{{ request.path }}",
      data: values,
      success: function (response) {
        populateResponse(true, "Thank you");
        clearForm();
      },
      error: function (response) {
        populateResponse(false, "An error occurred");
      },
    });
  });
</script>
{% endblock page-scripts %}
