@import url("https://fonts.googleapis.com/css?family=Cousine&display=swap");

@font-face {
  font-family: "Montserrat";
  font-style: light;
  font-weight: 300;
  src: url("/static/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: medium;
  font-weight: 500;
  src: url("/static/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  src: url("/static/fonts/Montserrat-Bold.ttf") format("truetype");
}

@mixin neu-light {
  text-shadow: -4px -4px 10px #ffffff, 4px 4px 4px rgba(0, 0, 0, 0.2);
}

@mixin neu-light--alt {
  text-shadow: 2px 2px 2px #fff, -1px -1px 0 rgba(0, 0, 0, 0.2),
    2px 2px 2px #fff;
}

body {
  background-color: #282828;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80vh 1fr 0.8fr 1.25fr;
}

.nav {
  display: flex;
  font-family: "Cousine", monospace;
  font-size: 0.9em;
  position: fixed;
  right: 0;
  text-orientation: upright;
  top: 20px;
  writing-mode: vertical-lr;
  z-index: 2;

  &__link {
    border-right: 5px solid transparent;
    color: #999;
    display: block;
    margin: 20px 0;
    padding: 0 5px;
    text-decoration: none;

    &:hover {
      border-right: 5px solid #fe8b8b;
    }
  }
}

.heading {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  text-align: center;
  grid-row: 1 / 2;

  &__title {
    color: #eee;
    font-size: 10em;
    font-weight: 700;
    margin: 20px;
    @include neu-light;
  }

  &__subtitle {
    color: rgba(219, 219, 219, 0.6);
    font-size: 3.5em;
    font-weight: 700;
    margin: 0;
    @include neu-light--alt;
  }

  &--light {
    background-color: #eee;
  }
}
