.heading {
  background-color: #eee;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  grid-row: 1 / 2;
  height: 80vh;
  justify-content: center;
  text-align: center;

  &__title {
    color: #eee;
    font-size: 10em;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: -4px -4px 10px #ffffff, 4px 4px 4px rgba(0, 0, 0, 0.2);
  }

  &__subtitle {
    color: rgba(219, 219, 219, 0.6);
    font-size: 3.5em;
    font-weight: 700;
    margin: 0;
    text-shadow: 2px 2px 2px #fff, -1px -1px 0 rgba(0, 0, 0, 0.2),
      2px 2px 2px #fff;
  }
}

@-webkit-keyframes animateWave {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes animateWave {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.bezier-border--top {
  align-self: start;
  -webkit-animation: animateWave 2500ms ease-in 1s backwards;
  animation: animateWave 2500ms ease-in 1s backwards;
  display: block;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  -webkit-transform-origin: top;
  transform-origin: top;
}

.blog-preview {
  color: #eee;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 0.5fr 1fr 0.4fr;
  justify-self: center;
  max-width: 1440px;
  padding-top: 30%;
  position: relative;
  width: 100%;

  &__header {
    color: #fff;
    font-size: 4em;
    font-weight: normal;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 0 0 10%;
  }

  &__card {
    align-items: center;
    border-radius: 25px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4),
      -2px -2px 10px rgba(255, 255, 255, 0.1);
    color: #eee;
    display: -webkit-box;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 0 20px;
    max-width: 600px;
    min-width: 400px;
    padding: 10px;
    text-decoration: none;
    width: 80%;

    &--popular {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-self: end;
    }

    &--recent {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: start;
    }
  }

  &__wrapper {
    border: 2px solid #d4d3ff;
    border-radius: 25px;
    height: 98%;
    position: relative;
    width: 98%;

    &:hover {
      border: 2px solid #feeb8b;
    }
  }

  .blog-preview__title {
    font-size: 2em;
    font-weight: normal;
    left: 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    top: 20px;
    width: 100%;
  }

  .blog-preview__date {
    bottom: 20px;
    font-size: 0.9em;
    font-weight: 300;
    margin: 0;
    position: absolute;
    right: 20px;
  }

  &__tag--popular {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: start;
    margin: 20px 0 0 15%;
  }

  &__tag--recent {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 20px 0 0 25px;
  }

  &__cta {
    align-self: end;
    border: 2px solid #fe8b8b;
    border-radius: 15px;
    color: #fe8b8b;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: end;
    margin: 0 15% 0 0;
    padding: 10px;
    text-decoration: none;
  }
}

.chevron {
  height: 10px;
  width: 10px;

  &--right {
    margin-right: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.about {
  align-self: center;
  border-left: 5px solid #fe8b8b;
  -webkit-box-pack: center;
  color: #eee;
  justify-content: center;
  justify-self: center;
  margin-top: 100px;
  max-width: 1440px;
  padding: 20px 0;
  width: calc(100% - 5px);

  &__content {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    margin: 0 auto;
    max-width: 715px;
    min-width: 300px;
    width: 80%;
  }

  &__title {
    align-self: end;
    font-size: 4em;
    font-weight: normal;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
  }

  &__links {
    align-self: end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    list-style-type: none;
    margin: 0;

    li {
      display: inline-block;
      padding: 10px;
    }

    a {
      color: #999;
    }
  }

  &__text {
    font-size: 20px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

.bezier-border--bottom {
  align-self: start;
  display: block;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  z-index: 1;
}

.contact {
  background-color: #eee;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  padding-top: 20%;

  &__title {
    color: #afafaf;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
  }

  &__form {
    border-radius: 25px;
    box-shadow: -4px -4px 10px #ffffff, 4px 4px 4px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 1.25fr 0.5fr;
    height: 300px;
    margin: 0 auto;
    max-width: 720px;
    min-width: 300px;
    padding: 20px;
    width: 50%;

    #name {
      align-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: 0 10px 10px 0;
    }

    #email {
      align-self: center;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 0 10px 10px 0;
    }

    #message {
      align-self: start;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      height: 100%;

      textarea {
        height: 100%;
        resize: none;
      }
    }

    .form__field {
      padding: 0;
      position: relative;

      input[type="text"],
      input[type="email"],
      textarea {
        background-color: #eee;
        border: none;
        border-radius: 15px;
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1),
          inset -4px -4px 10px #ffffff;
        font-size: 15px;
        outline: 0;
        padding: 15px 20px;
        width: calc(100% - 40px);
      }

      label {
        color: #656565;
        font-size: 16px;
        position: absolute;
        -webkit-transform: translate(20px, 16px) scale(1);
        transform: translate(20px, 16px) scale(1);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }

      &--active label {
        -webkit-transform: translate(10px, -15px) scale(0.75);
        transform: translate(10px, -15px) scale(0.75);
      }

      .error {
        color: #fe8b8b;
      }
    }

    input[type="submit"] {
      align-self: center;
      background-color: #fe8b8b;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 300;
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      justify-self: end;
      padding: 5px 10px;
      width: 100px;
    }

    .response {
      align-self: center;
      color: #656565;
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      justify-self: start;
      padding-left: 10px;

      &--error {
        color: #fe8b8b;
      }
    }
  }
}

@media (max-width: 992px) {
  body {
    grid-template-rows: 80vh 1fr 0.6fr 0.8fr;
  }

  .nav {
    bottom: 0;
    font-size: 0.8em;
    top: unset;
  }

  .heading {
    &__title {
      font-size: 8em;
    }

    &__subtitle {
      font-size: 3.25em;
    }
  }

  .blog-preview {
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1fr 0.4fr 1fr 0.4fr;
    padding-top: 20%;

    &__header {
      align-self: center;
      font-size: 3.25em;
    }

    &__card {
      height: 200px;
      max-width: 500px;

      .blog-preview__title {
        font-size: 1.75em;
      }

      &--popular {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: center;
      }

      &--recent {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        justify-self: center;
      }
    }

    &__tag--popular {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      justify-self: start;
      margin: 20px 0 0 17%;
    }

    &__tag--recent {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
      justify-self: start;
      margin: 20px 0 0 17%;
    }

    &__cta {
      align-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-self: end;
      margin-right: 10%;
    }
  }

  .about {
    margin-top: 0;

    &__title {
      font-size: 3.25em;
    }

    &__text {
      font-size: 18px;
    }
  }

  .contact__form {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .heading {
    &__title {
      font-size: 6.75em;
    }

    &__subtitle {
      font-size: 2.75em;
    }
  }

  .blog-preview {
    grid-template-rows: 0.5fr 0.5fr 0.25fr 0.5fr 0.25fr;

    &__header {
      font-size: 2.75em;
    }

    &__card {
      min-width: 400px;

      .blog-preview__title {
        font-size: 1.5em;
      }
    }
  }

  .about {
    &__title {
      font-size: 2.75em;
    }

    &__links {
      padding: 0;
    }

    &__text {
      font-size: 16px;
    }
  }

  .contact__form {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1.25fr 0.5fr;
    height: 500px;
    margin-bottom: 50px;

    #name {
      grid-row: 1 / 2;
    }

    #email {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    #message {
      grid-row: 3 / 4;
    }

    input[type="submit"] {
      align-self: end;
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }

    .response {
      align-self: end;
    }
  }
}

@media (max-width: 576px) {
  .heading {
    &__title {
      margin: 0 auto;
      width: 90%;
    }

    &__subtitle {
      margin: 0 auto;
      width: 80%;
    }
  }

  .nav {
    background-color: #282828;
    -webkit-box-pack: space-evenly;
    height: 50px;
    justify-content: space-evenly;
    right: 0;
    -webkit-text-orientation: unset;
    text-orientation: unset;
    width: 100%;
    -webkit-writing-mode: unset;
    -ms-writing-mode: unset;
    writing-mode: unset;

    &__link {
      border-bottom: 5px solid transparent;
      border-right: none;

      &:hover {
        border-bottom: 5px solid #fe8b8b;
        border-right: none;
      }
    }
  }

  .blog-preview {
    &__card {
      height: 175px;
      min-width: 350px;
    }
  }

  .contact {
    margin-bottom: 50px;
  }
}

@media (max-width: 454px) {
  .blog-preview {
    &__cta {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }

    &__card {
      min-width: 260px;
      width: calc(98% - 80px);
    }
  }

  .contact__form {
    min-width: 280px;
  }
}
