.heading {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    margin: 0 10px;

    &__brand {
        align-self: start;
        height: 60px;
        left: 10px;
        object-fit: contain;
        position: absolute;
        top: 10px;
        width: 150px;
    }

    &__copy {
        color: #666;
        font-family: 'EB Garamond', serif;
        font-size: 40px;
        font-weight: 400;
        margin: 50px 0;
        width: 300px;
    }

    &__links {
        align-self: start;
        display: block;
        margin: 0 auto;
        width: 300px;
    }

    &__link {
        color: #555;
        font-size: 14px;
        font-weight: 400;
        margin-right: 20px;
        text-decoration: none;
        text-transform: capitalize;

        &:hover {
            text-decoration: line-through;
        }
    }
}

.social {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;

    &__github {
        text-decoration: none;

        img {
            height: 30px;
            width: 30px;
        }
    }

    &__linkedin {
        text-decoration: none;

        img {
            height: 30px;
            width: 30px;
        }
    }
}

em {
    color: #181818 !important;
}

.about {
    background-color: #333;
    color: #fff;
    font-family: 'EB Garamond', serif;
    padding: 50px 0;
    position: relative;

    &__header {
        bottom: 50px;
        color: rgba(34, 34, 34, .5);
        font-size: 250px;
        font-weight: 600;
        left: -50%;
        line-height: 1;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 200%;
        z-index: 0;
    }

    &__image {
        display: block;
        filter: grayscale(100);
        -webkit-filter: grayscale(100);
        margin: 0 auto 50px;
        max-width: calc(100vw - 100px);
        position: relative;
        z-index: 1;
    }

    &__text {
        font-size: 18px;
        padding: 0 50px;
        position: relative;
        z-index: 1;
    }
}
