{% extends 'base.html' %}

{% block content %}
	<div id="hero-container">
		<div id="hero-img">
		</div>
		<section id="cta">
			<h1>Software Developer</h1>
			<!-- TODO: create portfolio, and link it here -->
			<a href="/contact"><button class="my-btn">Contact</button></a>
		</section>
	</div>
	<main>
		<h2>Everything, Purposefully</h2>
		<p>I am a passionate hobbyist turned professional programmer residing in Boise, Idaho. I've been writing software since 2016, and feel like I've only begun to scratch the surface. It is my goal to create beautiful, and elegant software that works exactly the way it should, while doing absolutely nothing it shouldn't. When I'm not working or touching up a side-project, I can be found playing guitar in a local band, walking aimlessly around town, or on the mats at the jiu-jitsu gym I frequent.</p>
	</main>
{% endblock content %}
