<nav class="nav nav--light">
	<a class="nav__link" href="/">HOME</a>
	<a class="nav__link" href="/blog">BLOG</a>
	<a class="nav__link" href="/#contact">CONTACT</a>
</nav>

<div class="nav--mobile">
	<h5>Alex Heist</h5>
	<input type="checkbox" />
	<span class="menu"> <span class="hamburger"></span> </span>
	<ul>
		<li><a class="nav__link--mobile" href="/">HOME</a></li>
		<li><a class="nav__link--mobile" href="/blog">BLOG</a></li>
		<li><a class="nav__link--mobile" href="/#contact">CONTACT</a></li>
	</ul>
</div>